body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

:root {
    --neutral-900: #02012C;
    --neutral-800: #262540;
    --neutral-700: #302F4A;
    --neutral-600: #3C3B5E;
    --neutral-300: #ACACB7;
    --neutral-200: #D4D3D9;
    --neutral-0:   #FFFFFF;
    --blue-700:    #2B1B9C;
    --blue-500:    #4658d9;
    --orange:      #FF820A;
}

h1 {
    color: #333;
}

 